$font-family:'Poppins', sans-serif;
$container-bg: linear-gradient(
to right top, 
#788ce3, 
#4da3f2, 
#00b7f8, 
#00c9f4, 
#12d9eb
);

$main-bg:linear-gradient(
    to right bottom, 
    #788ce3, 
    #4da3f2, 
    #00b7f8, 
    #00c9f4, 
    #12d9eb
);

$white: #fff;
$black:#000;
$error: rgba(24, 23, 23, 0.781);



 







